body {
  font-size: 20px;
  width:100%;
  text-align: -webkit-center;
  margin-top: 50px;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.btn {
  margin:3px;
}
.navbar{
  position: fixed;
  z-index: 100;
  background: rgba(255,255,255,0.8);
}
a {
  color: rgb(0,0,0);
}
a:hover {
  color: rgb(153,50,204);
}
.navbar-default .navbar-nav>li>a {
  color: rgba(0,0,0,1);
}
.navbar-default .navbar-brand {
  color: rgb(0,0,0);
}
.navbar-default .navbar-brand:hover {
  color: rgb(255,255,255);
  background: rgb(0,0,0);
}
.navbar-toggle{
  background: rgb(0,0,0);
}
.navbar-toggle .icon-bar:hover{
  background: rgba(255,255,255,0.84);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background:rgba(0,0,0,0.7);
}
/*
images should be 1400*500 px
*/
.carousel{
  width:100%; 
  text-align: -webkit-center;
}
.post{
  padding-left: 5%;
  text-align: left;
}
