body {
  font-size: 20px;
  width:100%;
  text-align: -webkit-center;
  margin-top: 80px;
}
.btn {
  margin:3px;
}
.navbar{
  position: fixed;
  opacity: 0.98;
  z-index: 100;
}
.navbar-default{
  background-color: #ffffff;
}
.navbar-default .navbar-nav>li>a{
  color:#000000;
}
.carousel{
  width:100%;
  text-align: -webkit-center;
  padding: 15%;
  background: darkseagreen;
}
.event-div{
  width:90%;
}