extends ./layout.jade

block title
  title Events

block content
  h1 All Events
  - var description = true
  .container-fluid
    .col-md-3
      img(src="http://placehold.it/300x200")
    .col-md-9
      h3 First event
  .container-fluid
    .col-md-9
      h3 Second event
    .col-md-3
      img(src="http://placehold.it/300x200")
  .container-fluid
    .col-md-3
      img(src="http://placehold.it/300x200")
    .col-md-9
      h3 Third event
  .container-fluid
    .col-md-9
      h3 Fourth event
    .col-md-3
      img(src="http://placehold.it/300x200")
