extends ./layout.jade

block title
  title FAQ

block content
  a(href="discuss.html").btn.btn-primary.btn-lg Real Time Discussion Page
  p
  //All the questions come here
  .panel.panel-primary
    .panel-heading
      h3.panel-title 
        | Prospecitve Students
    .panel-body
      | Long text comes here

  .panel.panel-success
    .panel-heading
      h3.panel-title 
        | Question Two
    .panel-body
      | Long text comes here

  .panel.panel-warning
    .panel-heading
      h3.panel-title 
        | Question Three
    .panel-body
      | Long text comes here

  .panel.panel-danger
    .panel-heading
      h3.panel-title 
        | Question Four
    .panel-body
      | Long text comes here

  .panel.panel-info
    .panel-heading
      h3.panel-title 
        | Question Five
    .panel-body
      | Long text comes here