extends ./layout.jade

block title
  title Home

block content
    a.btn.btn-success.btn-lg(href="events.html")
        h1 Recent events
    //Add events here
    p
    a(href="http://goo.gl/PYBmFF")
      .col-md-4
        .box-sh
          img(src="img/amc.talentnight.logo.png")
        h2 Amcisa Talent Night
    a(href="http://goo.gl/Rkexwc")
      .col-md-4
        .box-sh
          img(src="img/nus.ammaf.logo.png") 
        h2 NUS 中秋晚会
    a(href="http://goo.gl/Z6U9lP")     
      .col-md-4
        .box-sh
          img(src="img/ntu.ganen.logo.png")
        h2 NTU 感恩的季节
    br
    h1 Services
    .container-fluid
      .col-md-3
        h3 Event Registration
      .col-md-3 
        h3 Course Guide
      .col-md-3
        h3 FAQ
      .col-md-3
        h3 Prospective Students

//Custom Carousel 
block carousel
  #myCarousel.carousel
    //Round page indicators
    ol.carousel-indicators
      li(data-target="#myCarousel",data-slide-to="0",class="active")
      li(data-target="#myCarousel",data-slide-to="1")
      li(data-target="#myCarousel",data-slide-to="2")
    //Wrapper for inner slides
    .carousel-inner
      .item.active
        img(src="img/amc.talentnight(2).png")
        .carousel-caption
          h1 NUS/NTU Talent Night
      .item
        img(src="img/nus.ammaf(3).png")
        .carousel-caption
          h1 NUS 中秋晚会      
      .item
        img(src="img/ntu.ganen(1).png")
        .carousel-caption
          h1 NTU 感恩的季节
    //Buttons to slide right or left
    a(class="carousel-control left" href="#myCarousel" data-slide="prev") 
      span(class="glyphicon glyphicon-chevron-left")
    a(class="carousel-control right" href="#myCarousel" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right")

  