extends ./layout.jade

block title
  title Home

block content
    a(href="events.html")
      h1 Recent events
    a(href="http://goo.gl/PYBmFF")
      .container-fluid
        .col-md-3
          img(src="img/amc.talentnight.logo.png")
        .col-md-9
          h3 Amcisa Talent Night
          p 一年一度的 Talent Night即将引爆，为各位新一年的大学生活拉开序幕！            
          p 你拥有什么talent，无论是唱歌、跳舞、戏剧或者是其它才华， Talent Night无任欢迎！ 
          p 大胆秀出自己的才艺，发掘自我吧！还在考虑什么？赶快报名吧！
    a(href="http://goo.gl/Rkexwc")
      .container-fluid
        .col-md-3
          img(src="img/nus.ammaf.logo.png") 
        .col-md-9
          h3 NUS 中秋晚会
          p 在中秋节，除了与亲人团聚，我们也不要忘了与我们最好的朋友共度佳节。
          p 一年一度的AMCISA中秋晚会就是最好的机会。
          p 配合今年的主题“AM的心代表月亮，CI奔到月球天堂，SA下一样的月光”，许多有趣的活动将给我们带来不一样的惊喜，包括吃月饼柚子赏月、猜灯谜、心心相印、嫦娥追玉兔等等。
    a(href="http://goo.gl/Z6U9lP")     
      .container-fluid
        .col-md-3
          img(src="img/ntu.ganen.logo.png")
        .col-md-9
          h3 NTU 感恩的季节
          p 这里有个活动叫“感恩的季节”，大概的意思就是和AMCISA买卡片送别人啦！
          p 所以你要是爱在心中口难开，或是有一段很细腻幽怨的情感在你内心深处，那么就用写的来表达吧！
    br
    h1 Services
    .container-fluid
      .col-md-3
        h3 Event Registration
      .col-md-3 
        h3 Course Guide
      .col-md-3
        h3 FAQ
      .col-md-3
        h3 Prospective Students

//Custom Carousel 
block carousel
  #myCarousel.carousel
    //Round page indicators
    ol.carousel-indicators
      li(data-target="#myCarousel",data-slide-to="0",class="active")
      li(data-target="#myCarousel",data-slide-to="1")
      li(data-target="#myCarousel",data-slide-to="2")
    //Wrapper for inner slides
    .carousel-inner
      .item.active
        img(src="img/amc.talentnight(2).png")
        .carousel-caption
          h1 NUS/NTU Talent Night
      .item
        img(src="img/nus.ammaf(3).png")
        .carousel-caption
          h1 NUS 中秋晚会      
      .item
        img(src="img/ntu.ganen(1).png")
        .carousel-caption
          h1 NTU 感恩的季节
    //Buttons to slide right or left
    a(class="carousel-control left" href="#myCarousel" data-slide="prev") 
      span(class="glyphicon glyphicon-chevron-left")
    a(class="carousel-control right" href="#myCarousel" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right")

  