extends ./layout.jade

block title
  title Services

block content
  h1 All Services
  - var description = true
  .container-fluid
    .col-md-3
      img(src="http://placehold.it/300x200")
    .col-md-9
      h3 Frequently Asked Questions
  .container-fluid
    .col-md-9
      h3 Event Registration
    .col-md-3
      img(src="http://placehold.it/300x200")
  .container-fluid
    .col-md-3
      img(src="http://placehold.it/300x200")
    .col-md-9
      h3 Course Review
  .container-fluid
    .col-md-9
      h3 Claims System
    .col-md-3
      img(src="http://placehold.it/300x200")
