extends ./layout.jade

block title
  title Services

block content
  h1 All Services
  - var description = true
  .container-fluid
    .col-md-3
      img(src="http://placehold.it/300x200")
    .col-md-9
      h3 First service
  .container-fluid
    .col-md-9
      h3 Second service
    .col-md-3
      img(src="http://placehold.it/300x200")
  .container-fluid
    .col-md-3
      img(src="http://placehold.it/300x200")
    .col-md-9
      h3 Third service
  .container-fluid
    .col-md-9
      h3 Fourth service
    .col-md-3
      img(src="http://placehold.it/300x200")
