extends ./ntu.halloween.layout.jade

block title
  title Halloween

block content
  h1 NTU Halloween
  p Come on and join in the fun this halloween!    
  .col-md-4
    .box-sh
      img(src="../img/ntu.halloween.sweets.png")
    h2 Sweets!   
  .col-md-4
    .box-sh
      img(src="../img/ntu.halloween.games.png")
    h2 Games!  
  .col-md-4
    .box-sh
      img(src="http://placehold.it/300")
    h2 Costumes!



//Custom Carousel 
block carousel
  #myCarousel.carousel
    //Round page indicators
    ol.carousel-indicators
      li(data-target="#myCarousel",data-slide-to="0",class="active")
      li(data-target="#myCarousel",data-slide-to="1")
      li(data-target="#myCarousel",data-slide-to="2")
    //Wrapper for inner slides
    .carousel-inner
      .item.active
        img(src="http://placehold.it/2100x1400")
        .carousel-caption
          h1 First
    //Buttons to slide right or left
    a(class="carousel-control left" href="#myCarousel" data-slide="prev") 
      span(class="glyphicon glyphicon-chevron-left")
    a(class="carousel-control right" href="#myCarousel" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right")