extends ./nus.telok.layout.jade

block title
  title NUS Telok Bangah Run

block content
  p 想要从沉重的开学心情中暂时逃脱出来吗？
  p 各位会员请注意了，MAIN COMM 为您们精心准备的MEMBER OUTING活动，即将到来啦！
  p 这一次，我们将离开校园，到鸟语花香，百花争艳的TELOK BLANGAH进行。
  p 届时，我们将献给您一系列精彩的游戏节目。
  p 玩过一轮游戏后觉得有些饿了？我们会有下午茶提供给大家呢！
  p 请万勿错过这次难得能和一大班朋友一起出去玩的机会哦！！
  p 欲报名者请填好以下google doc，并于当天1pm，携带$2*，在PGP foyer集合！
  p 请大家多多支持！大家一起出去疯一回！

block carousel
  #myCarousel.carousel
    //Round page indicators
    ol.carousel-indicators
      li(data-target="#myCarousel",data-slide-to="0",class="active")
      li(data-target="#myCarousel",data-slide-to="1")
      li(data-target="#myCarousel",data-slide-to="2")
    //Wrapper for inner slides
    .carousel-inner
      .item.active
        img(src="../img/nus.telok(1).png")
        h1 NUS Telok Bangah Run
    //Buttons to slide right or left
    a(class="carousel-control left" href="#myCarousel" data-slide="prev") 
      span(class="glyphicon glyphicon-chevron-left")
    a(class="carousel-control right" href="#myCarousel" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right")
