extends ./nus.telok.layout.jade

block title
  title Register

block content
  |<iframe src="https://docs.google.com/forms/d/1P93AzKHkgPrLgKj9jehWo92LW48ebyzYEpXQISLRJZU/viewform?embedded=true" width="760" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>