extends ./layout.jade

block title
  title About Us

block content
  h1 Objective
  p Your text comes here. Add pics too  
  .panel.panel-primary
    .panel-heading
      h2 NTU Main Committee
    .panel-body
      img(src="http://placehold.it/500")
      table.table.table-striped.table-hover
        thead
          tr 
            th 职位
            th 名字
            th 电话
        tbody
          tr
            td Position
            td Name
            td Tel No
  .panel.panel-info
    .panel-heading
      h2 NUS Main Committee
    .panel-body
      img(src="http://placehold.it/500")
      table.table.table-striped.table-hover
        thead
          tr 
            th 职位
            th 名字
            th 电话
        tbody
          tr
            td Position
            td Name
            td Tel No

  