extends ./layout.jade

block title
  title About Us

block content
  h1 Objective
  p Your text comes here. Add pics too
  h2 NTU Main Committee 
  img(src="http://placehold.it/500")
  table.table.table-bordered.table-striped
    thead
      tr 
        th One 
        th Two
        th Three
    tbody
      tr
        td Four
        td Five
        td Six
      tr 
        td Seven 
        td Eight
        td Nine
      tr
        td *
        td Zero
        td #
  h2 NUS Main Committee 
  img(src="http://placehold.it/500")
  table.table.table-bordered.table-striped
    thead
      tr 
        th One 
        th Two
        th Three
    tbody
      tr
        td Four
        td Five
        td Six
      tr 
        td Seven 
        td Eight
        td Nine
      tr
        td *
        td Zero
        td #


  