extends ./layout.jade

block title
  title Events

block content
  .panel.panel-success.section
    .panel-heading
      h1 All Events
    .panel-body
      .event-blk
        a(href="events/ntu.halloween.index.html")     
          .col-md-4
            .box-sh
              img(src="img/ntu.halloween.sweets.png")
            h2 #NTU Halloween
        a(href="http://goo.gl/Rkexwc")
          .col-md-4
            .box-sh
              img(src="img/nus.ammaf.logo.png") 
            h2 #NUS 中秋晚会
        a(href="http://goo.gl/PYBmFF")
          .col-md-4
            .box-sh
              img(src="img/amc.talentnight.logo.png")
            h2 #Amcisa Talent Night
      .event-blk.section
        a(href="http://goo.gl/Z6U9lP")     
          .col-md-4
            .box-sh
              img(src="img/ntu.ganen.logo.png")
            h2 #NTU 感恩的季节
        a(href="events/nus.telok.index.html")     
          .col-md-4
            .box-sh
              img(src="img/nus.telok.logo.png")
            h2 #NUS Telok Bangah Run
        