//-
  Currently only events within two years are linked here.
  To update the page, just add the following block to the top.
  //Left pic
  a(href="YOUR LOCAL PATH TO THE WEBPAGE")
    .container-fluid
      .col-md-3
        img(src="YOUR EVENT IMAGE HERE")
      .col-md-9
        h3 YOUR EVENT TITLE
  //Right pic
  a(href="YOUR LOCAL PATH TO THE WEBPAGE")
    .container-fluid
      .col-md-9
        h3 YOUR EVENT TITLE    
      .col-md-3
        img(src="YOUR EVENT IMAGE HERE")
      



extends ./layout.jade

block title
  title Events

block content
  h1 All Events
  //- Insert update here. 
  div
    a(href="events/ntu.halloween.index.html")     
      .col-md-4
        .box-sh
          img(src="http://placehold.it/300")
        h2 NTU 感恩的季节
    a(href="http://goo.gl/Z6U9lP")     
      .col-md-4
        .box-sh
          img(src="img/ntu.ganen.logo.png")
        h2 NTU 感恩的季节
          