//-
  The following block is the one to copy when update is needed.
  Use markdown for long paragraphs.
  Also available: primary, success, warning, danger, default, info.
  
  .panel.panel-primary 
    .panel-heading
      h3.panel-title 
        | Prospecitve Students
    .panel-body
      | Long text comes here 

extends ./layout.jade

block title
  title FAQ

block content
  //All the questions come here
  .panel.panel-primary.section
    .panel-heading
      .panel-title
        h3 Student Pass & QET
    .panel-body
      .question
        include:markdown includes/student_pass_accom.md

  .panel.panel-info.section
    .panel-heading
      .panel-title
        h3 Tuition Fee Loan (TFL) Part One
    .panel-body
      .question
        include:markdown includes/tuition_fee_loan_1.md

  .panel.panel-info.section
    .panel-heading
      .panel-title
        h3 Tuition Fee Loan (TFL) Part Two
    .panel-body
      .question
        include:markdown includes/tuition_fee_loan_2.md

  .panel.panel-success.section
    .panel-heading
      .panel-title
        h3 Medical Examination
    .panel-body
      .question
        include:markdown includes/medic_exam.md

  .panel.panel-warning.section
    .panel-heading
      .panel-title
        h3 Back Account
    .panel-body
      .question
        include:markdown includes/bank_account.md
