extends ./layout.jade

block title
  title Home

block content
  .panel.panel-primary.section
    .panel-heading
      a(href="events.html")
        h1 Recent events
    .panel-body
      a(href="events/ntu.halloween.index.html")     
        .col-md-4
          .box-sh
            img(src="img/ntu.halloween.sweets.png")
          h2 #NTU Halloween
      a(href="http://goo.gl/Rkexwc")
        .col-md-4
          .box-sh
            img(src="img/nus.ammaf.logo.png") 
          h2 #NUS 中秋晚会
      a(href="http://goo.gl/PYBmFF")
        .col-md-4
          .box-sh
            img(src="img/amc.talentnight.logo.png")
          h2 #Amcisa Talent Night
  .panel.panel-info.section
    .panel-heading
      a(href="services.html")
        h1 Services
    .panel-body
      .container-fluid
        .col-md-3
          span.fa.fa-share-alt-square.ico-large(style="color:rgb(237, 119, 119)")
          h3 Event Registration
        .col-md-3 
          span.fa.fa-binoculars.ico-large(style="color:rgb(260, 222, 109)")
          h3 Course Guide
        .col-md-3
          span.fa.fa-question.ico-large(style="color:rgb(188, 223, 138)")
          h3 FAQ
        .col-md-3
          span.fa.fa-pencil-square.ico-large(style="color:rgb(148, 192, 204)")
          h3 Prospective Students

//Custom Carousel 
block carousel
  #myCarousel.carousel.section
    //Round page indicators
    ol.carousel-indicators
      li(data-target="#myCarousel",data-slide-to="0",class="active")
      li(data-target="#myCarousel",data-slide-to="1")
      li(data-target="#myCarousel",data-slide-to="2")
    //Wrapper for inner slides
    .carousel-inner
      .item.active
        img(src="img/amc.talentnight(2).png")
        h1 NUS/NTU Talent Night
      .item
        img(src="img/nus.ammaf(3).png")
        h1 NUS 中秋晚会      
      .item
        img(src="img/ntu.ganen(1).png")
        h1 NTU 感恩的季节
    //Buttons to slide right or left
    a(class="carousel-control left" href="#myCarousel" data-slide="prev") 
      span(class="glyphicon glyphicon-chevron-left")
    a(class="carousel-control right" href="#myCarousel" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right")

block script
  script(src="js/main.js")