//-
  Base layout for the page. 
  blocks can be added for additional and conditional content

mixin navlink(name,link)
  li: a(href=link)=name

doctype html5
html
  head 
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="viewport",content="width=device-width,initial-scale=1")
  block title
  body

    link(href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cosmo/bootstrap.min.css", rel="stylesheet")
    link(href="./css/custom.css", rel="stylesheet")

    //Default navigation bar
    .navbar-default.navbar-fixed-top
      .navbar-header
        button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-responsive-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="index.html") 
          :markdown
            ![](img/amc.header.logo.png)Amcisa

      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
          +navlink("Home","index.html")
          +navlink("About Us","about.html")
          +navlink("Events","events.html")
          +navlink("Services","services.html")
          +navlink("Contact Us","contact.html")

    //This is where our main content is inserted into.

    block carousel
    .content
      block content

    .footer 
      h5 Made in bootstrap

    //Utility scripts
    script(src="js/jquery-1.11.0.js")
    script(src="js/bootstrap.min.js")

