//-
  Sample event post. Use markdown or whatever you like.

extends ./layout.jade

block title
  title First

block content
  .post
    h1 First!
    :markdown
      Hello World! A post written in [markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).

      This is a _italic_ *text*.

      Hey this is __bold__ **text**.

      Just add something here. Add a newline to break.  

    h2 Second! 
    :markdown
      Just for good measure:
      This is a list:

      - hi
      - ho
      - he
